/*****SITE WIDE*****/
body{
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/mooning.png");
    background-attachment: fixed;
}
.fixed-bottom{
    color: whitesmoke;
}
#nav-top, #nav-bottom {
    background-image: linear-gradient(to right, black, #252525);
}
#nav-top a{
    color: lightslategrey;
}
#nav-top button {
    color: lightslategrey;
}
#nav-top button:hover{
    color:white;
}
#nav-top a:hover{
    color: white;
}
.projectsDropdown:hover{
    background-color: transparent;
}
#burger-icon{
    color: lightslategrey;
}
.dropdown-menu{
    background-color: #252525;
    border: solid 1px black;
}
.dropdown-menu :hover{
    background:transparent;
}
.navbar-toggler{
    color: transparent;
}
.modal-backdrop{
    z-index:1020;
}
.modal-content{
    color: whitesmoke;
    background-color: #252525;
}
.modal-button{
    background-color: black;
    color: whitesmoke;
}
.modal-button:hover{
    color:black;
    background-color:#454545;
}
.formFieldStyles{
    background-color: dimgray;
}

/*****INDEX PAGE*****/
#myPic{
    max-width: 325px;
    max-height: 400px;
    aspect-ratio: initial !important;
    filter: drop-shadow(.5rem .5rem 5px black);
    overflow: visible;
}
.textCard{
    opacity: .75;
    border-radius: 12px;
    font-size: 16px;
    background-color:black;
    color:whitesmoke;
}
.card-body{
    padding: 5px 1px 5px 1px;
}
.picCard{
    border: none;
    background-color: transparent;
    filter: drop-shadow(.5rem .5rem 5px black);
}
.picCard p{
    font-size: 16px;
    color: white;
    font-weight: bolder;
}
.picCard img{
    border-radius: 12px;
}

/*****RESUME PAGE*****/
h1{
    color:whitesmoke;
}
.accordion{
    --bs-accordion-border-color: lightslategrey;

    --bs-accordion-color: black;
    --bs-accordion-bg: whitesmoke;

    --bs-accordion-active-color: whitesmoke;
    --bs-accordion-active-bg: #454545;
}
.accordion-button{
    font-weight: bold;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
